.gift-wrapper {
  cursor: pointer;
}

.billet {
  width: 100%;
  transform: translate(50%, -100%) scale(0);
  background: #fff6c0;
  border: 2px solid #ff5a5f;
  padding: 20px 30px;
  border-radius: 12px;
  text-align: center;
  font-weight: bold;
  z-index: 10;
  transition: transform 0.5s ease-out;
}

.billet.open {
  transform:  scale(1);
}

.confetti-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  pointer-events: none;
}

.confetti-container span {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  animation: fly 1.5s forwards;
}

@keyframes fly {
  0% {
    transform: translate(0,0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translate(var(--rand-x), 400px) rotate(var(--rand-rotate));
    opacity: 0;
  }
}


.gift-wrapper {
  width: 100%;
  max-width: 600px; /* largeur maximale sur desktop */
}

.icon {
  max-width: 100%;    /* ne dépasse jamais l'écran */
  height: auto;       /* conserve les proportions */
  display: block;     /* pour éviter les espaces indésirables */
}
